<?xml version="1.0"?>
<config>
    <modules>
        <Opsway_SplunkLog>
            <version>0.0.1</version>
        </Opsway_SplunkLog>
    </modules>
    <global>
        <models>
            <opsway_splunklog>
                <class>Opsway_SplunkLog_Model</class>
            </opsway_splunklog>
        </models>
        <helpers>
            <opsway_splunklog>
                <class>Opsway_SplunkLog_Helper</class>
            </opsway_splunklog>
        </helpers>
        <events>
            <splunk_log_default>
                <observers>
                    <log_default>
                        <type>singleton</type>
                        <class>opsway_splunklog/observer</class>
                        <method>loggingByDefault</method>
                    </log_default>
                </observers>
            </splunk_log_default>
            <splunk_log_value_info>
                <observers>
                    <log_value_info>
                        <type>singleton</type>
                        <class>opsway_splunklog/observer</class>
                        <method>loggingByValueAndInfo</method>
                    </log_value_info>
                </observers>
            </splunk_log_value_info>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <opsway_splunklog before="Mage_Adminhtml">Opsway_SplunkLog</opsway_splunklog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <update>
                <use>standard</use>
                <args>
                    <module>Opsway_SplunkLog</module>
                    <frontName>splunk_log</frontName>
                </args>
            </update>
        </routers>
    </frontend>
    <default>
        <splunk>
            <log>
                <active>0</active>
                <host />
                <default_port>9998</default_port>
            </log>
        </splunk>
    </default>
</config>